.statistics {
  margin-bottom: 80px;
  width: 600px;
  font-weight: 700;
  color: #757575;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.title {
  /* margin: 0; */
  padding-top: 20px;
  text-transform: uppercase;
  text-align: center;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

span {
  display: block;
}
